################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TalkHub.API/obj
/TalkHub.Application/obj
/TalkHub.Domain/obj
/TalkHub.Infrastructure/obj
/TalkHub.API/bin/Debug/net8.0
/TalkHub.Application/bin/Debug/net8.0
/TalkHub.Domain/bin/Debug/net8.0
/TalkHub.Infrastructure/bin/Debug/net8.0
